<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" height="600" width="300">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Online Full-Function Solution For Bioinformatics Applications
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div>
		<h2>The most amazing bioinformatic tools!</h2>
		<p>Bioinfo Master is a web application boilerplate, which means you could run everywhere :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>RNA-Seq</strong>
			</h2>
			<p>RNA-Seq is a way to measuing the whole transcriptome.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>DNA-Seq</strong>
			</h2>
			<p>DNA-Seq will help locating the CNVs and SNVs in genome.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>CHIP-Seq</strong>
			</h2>
			<p>CHIP-Seq is really cheap!</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>Meta-Genome</strong>
			</h2>
			<p>Metagenomics is the study of genetic material recovered directly from environmental samples. </p>
		</div>
	</div>
	<div class="well">
		<h2>Bioinfo Master Documentation</h2>
		<p>
			Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">BioInfo Master Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Sequencing</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Gene Expression</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">CNV</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">SNV</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The ConceptNetwork Coperation.
</section>